@import url(./reset.css); //Обнулятор
@import url(./fonts.css); //Шрифты

html{
    font-size: 10px;
}

body{
    height: 100%;
}

body.scrollLock{
    overflow: hidden;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    &__header{
        position:fixed;
        z-index: 5;
        width: 100%;
        background: rgb(170, 109, 255);
        border-radius: 0 0 25px 25px;
    }
    &__main{
        flex: 1 1 auto;
        background: rgb(124,162,255);
        background: linear-gradient(180deg, rgba(124,162,255,0.9500175070028011) 35%, rgba(252,255,122,0.927608543417367) 100%);
    }
    &__footer{
        border-radius: 25px 25px 0 0;
        background: rgb(170, 109, 255);
    }
}

.header{
    &__container{
        padding: 0px 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        padding-top: 30px;
        font-family: 'Borel', cursive;
        font-size: 4rem;
    }
    &__others{

    }
    &__list{
        font-family: 'Alegreya', serif;
        display: flex;
        gap: 50px;
        font-size: 3rem;
        a{
            transition: all .55s ease;
            border-bottom: 2px solid transparent;
        }
        a:hover{
            border-bottom: 2px solid rgb(255, 191, 0);
        }
    }
    a:visited, a:link{
        color: rgb(255, 228, 155);
    }
    &__home{

    }
    &__shop{

    }
    &__login{

    }
}

.main{
    section{
        padding: 0 14.84%;
    }
    &__container{
        .main__icons{
            position: absolute;
            top: 51rem;
            padding: 0 9%;
            i{
                display: block;
                margin: 26px 0;
                font-size: 24px;
                color: white;
                transition: all .50s ease;
            }
            i:hover{
                color: rgb(170, 109, 255);
                transform: translateY(-5px);
            }
        }
    }
    &__hero{
        height: 100%;
        width: 100%;
        min-height: 97vh;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
        .hero-text{
            .hero__buttons{
                width: 600px;
                a{
                    display: inline-block;
                    color: white;
                    background: rgb(170, 109, 255);
                    border: 1px solid transparent;
                    padding: 20px 40px;
                    line-height: 1.4;
                    font-size: 20px;
                    font-weight: 500;
                    border-radius: 30px;
                    text-transform: uppercase;
                    transition: all .55s ease;
                }
                a:hover{
                    background: transparent;
                    border: 1px solid white;
                    transform: translateX(8px);
                }
                .hero-a{
                    background: transparent;
                    border: 1px solid white;
                    margin-left: 20px;
                }
            }
            h5{
                font-size: 24px;
                font-weight: 400;
                color: white;
                margin-bottom: 40px;
            }
            h4{
                font-size: 28px;
                font-weight: 600;
                color: white;
                margin-bottom: 10px;
            }
            h1{
                font-size: 58px;
                font-weight: 600;
            }
            p{
                color:white;
                font-size: 25px;
                line-height: 1.9;
                margin-bottom: 40px;
            }
        }
        .hero-img{
            border-radius: 50%;
            overflow: hidden;
            width: 300px;
            height: 300px;
            margin-left: 45%;
            box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
            img{
                width: 800px;
                transform: translate(-235px, -30px);
                height: auto;
            }
        }
    }
    // .shop__header{
    //     width: 100%;
    //     height: 4vh;
    //     background-color: #a6daaf;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //}
    //PLUS
    .addForm{
        display: none;
        width: 25%;
        bottom: -40%;
        position: absolute;
        z-index: 5;
        margin: 0 auto;
        border-radius: 25px;
        box-shadow: 0 5px 50px rgba(0,0,0,0.7);
        border: 2px solid yellowgreen;
        left: 50%;
        transform: translate(-50%,0);
        &__close{
            position: absolute;
            top: 20px;
            right: 20px;
            i{
                font-size: 40px;
            }
        }
        &__editBtn{
            padding: 20px;
            font-size: 10px;
            position: absolute;
        }
        &__file{
            display: block;
            background-color: #333;
            margin: 0 auto;
            margin-bottom: 5rem;
            color:white;
            font-size: 20px;
            width: 50%;
        }
        &__name{
            display: block;
            background-color: #333;
            margin: 0 auto;
            font-size: 20px;
            margin-bottom: 5rem;
            color:white;
            width: 50%;
        }
        &__textArea{
            display: block;
            background-color: #333;
            margin: 0 auto;
            height: 50%;
            margin-bottom: 5rem;
            color:white;
            font-size: 20px;
            resize: none;
            height: 500px;
            width: 50%;
        }
        &__price{
            display: block;
            background-color: #333;
            margin: 0 auto;
            margin-bottom: 5rem;
            color:white;
            font-size: 20px;
            width: 50%;
        }
        &__btn{
            display: block;
            width: 100px;
            height: 50px;
            border-radius: 25px;
            margin: 0 auto;
            background-color: #ffef0f;
            border: 1px solid black;
            width: 50%;
        }
    }

    .addForm.active{
        display: block;
    }

    .editForm{
        display: none;
        width: 25%;
        bottom: -40%;
        position: absolute;
        z-index: 5;
        margin: 0 auto;
        border-radius: 25px;
        box-shadow: 0 5px 50px rgba(0,0,0,0.7);
        border: 2px solid yellowgreen;
        left: 50%;
        transform: translate(-50%,0);
        &__close{
            position: absolute;
            top: 20px;
            right: 20px;
            i{
                font-size: 40px;
            }
        }
        &__editBtn{
            padding: 20px;
            font-size: 10px;
            position: absolute;
        }
        &__file{
            display: block;
            background-color: #333;
            margin: 0 auto;
            margin-bottom: 5rem;
            color:white;
            font-size: 20px;
            width: 50%;
        }
        &__name{
            display: block;
            background-color: #333;
            margin: 0 auto;
            font-size: 20px;
            margin-bottom: 5rem;
            color:white;
            width: 50%;
        }
        &__textArea{
            display: block;
            background-color: #333;
            margin: 0 auto;
            height: 50%;
            margin-bottom: 5rem;
            color:white;
            font-size: 20px;
            resize: none;
            height: 500px;
            width: 50%;
        }
        &__price{
            display: block;
            background-color: #333;
            margin: 0 auto;
            margin-bottom: 5rem;
            color:white;
            font-size: 20px;
            width: 50%;
        }
        &__btn{
            display: block;
            width: 100px;
            height: 50px;
            border-radius: 25px;
            margin: 0 auto;
            background-color: #ffef0f;
            border: 1px solid black;
            width: 50%;
        }
    }

    .editForm.active{
        display: block;
    }

    .beforeShop__text{
        position: absolute;
        width: 500px;
        height: 300px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 30%);
        z-index: 1;
        .beforeShop__text-shop{
            position: absolute;
            width: 500px;
            z-index: 1;
        }
        .beforeShop__text-stone{
            position: absolute;
            width: 500px;
            z-index: 0;
        }
    }
    //
    .main__shop{
        font-family: 'Poppins', sans-serif;
        position: relative;
        .shop__plus{
            position: absolute;
            background-color: grey;
            right: 50px;
            top: 50px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            p{
                font-size: 40px;
            }
        }

        .shop__container{
            //BLOCKS
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            padding: 175px 0 100px 0;
            align-items: center;
            justify-content: center;

            .shop__node{
                position: relative;
                max-width: 300px;
                width: 100%;
                height: 550px;
                border-radius: 25px;
                padding: 20px 30px 30px 30px;
                background: white;
                box-shadow: 0 5px 10px rgba(0,0,0,0.2);
                z-index: 3;
                overflow: hidden;
                .node__logo{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                    }
                    i{
                        font-size: 27px;
                        color: #707070;
                        cursor: pointer;
                        transition: color 0.3s;

                    }
                }
                .node__images{
                    position: relative;
                    height: 200px;
                    bottom: 10px;
                    margin-bottom: 3rem;
                    img{
                        position: absolute;
                        height: 250px;
                        width: 250px;
                        object-fit:contain;
                        left: -5px;
                        top: -40px;
                        z-index: -1;
                        opacity: 0;
                        transition: opacity 0.5 ease;
                    }
                    img.active{
                        opacity: 1;
                    }
                }
                .node-details{
                    span.details__name{
                        font-size: 25px;
                        font-weight: 500;
                        color: #161616;
                    }
                    p{
                        padding-top: 15px;
                        font-size: 20px;
                        font-weight: 400;
                        color: #333;
                        text-align: justify;
                        height: 95px;
                        overflow: hidden;
                    }
                    .node__stars{
                        display: inline;
                        position: absolute;
                        bottom: 125px;
                        i{
                            margin: 0 -1px;
                            color: #ffef0f;
                        }
                    }
                }
                .node__edit{
                    position: absolute;
                    display: flex;
                    right: 60px;
                    bottom: 100px;
                    border-radius: 50%;
                    background-color: #707070;
                    height: 25px;
                    width: 25px;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 15px;
                        color: rgb(255, 170, 0);
                    }
                }
                .node__minus{
                    position: absolute;
                    display: flex;
                    right: 20px;
                    bottom: 100px;
                    border-radius: 50%;
                    background-color: #707070;
                    height: 25px;
                    width: 25px;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 25px;
                        color: rgb(255, 170, 0);
                    }
                }

                .color__prices{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                    .color__option{
                        display: flex;
                        align-items: center;
                        span.color{
                            font-size: 18px;
                            font-weight: 500;
                            color: #333;
                            margin-right: 8px;
                            display: flex;
                        }
                    }
                    .node__price{
                        position: absolute;
                        bottom: 90px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .price__num{
                            font-size: 25px;
                            font-weight: 600;
                            color: #707070;
                        }
                    }
                }
                .node__button{
                    position: absolute;
                    bottom: 25px;
                    height: 50px;
                    width: 244px;
                    border-radius: 25px;
                    margin-top: 30px;
                    overflow: hidden;
                    .button-layer{
                        position: absolute;
                        height: 300%;
                        width: 100%;
                        bottom: -100%;
                        background-image: linear-gradient(to right, rgb(79, 60, 88), rgb(194, 52, 219));
                        transition: all 0.4s ease;
                        border-radius: 25px;
                        button{
                            position: relative;
                            height: 100%;
                            width: 100%;
                            background: none;
                            outline: none;
                            border: none;
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            color: #fff;
                            
                        }
                    }
                }
                .node__button:hover{
                    .button-layer{
                        bottom: 0;
                    }
                }
            }
            //
        }
    }
}

.footer{
    &__container{
    }
    a:visited, a:link{
        color: rgb(255, 228, 155);
    }
    &__list{
        font-family: 'Alegreya', serif;
        font-size: 2.5rem;
        display: flex;
        margin: 5px 50px;
        justify-content: space-between;
    }
}
.productPopup{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    overflow: auto;
    .productPopup__body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        .productPopup__content{
            font-family: 'Poppins', sans-serif;
            position: relative;
            background-color: #fff;
            color: #000;
            max-width: 500px;
            padding: 30px;
            .productPopup__close{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 20px;
            }
            .productPopup__image{
                width: 50%;
                height: 50%;
                margin: 0 auto;
                margin-bottom: 3rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .productPopup__name{
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 3rem;
            }
            .productPopup__description{
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 15rem;
                word-break: break-all;
            }
            .productPopup__price{
                position: absolute;
                right: 20px;
                bottom: 100px;
                font-size: 30px;
                font-weight: 600;
            }
            .productPopup__btn{
                position: absolute;
                bottom: 25px;
                height: 50px;
                width: 200px;
                left: 25%;
                border-radius: 25px;
                margin-top: 30px;
                overflow: hidden;
                .productPopup__layer{
                    position: absolute;
                    height: 300%;
                    width: 100%;
                    bottom: -100%;
                    background-image: linear-gradient(to right, rgb(79, 60, 88), rgb(194, 52, 219));
                    transition: all 0.4s ease;
                    border-radius: 25px;
                    button{
                        position: relative;
                        height: 100%;
                        width: 100%;
                        background: none;
                        outline: none;
                        border: none;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        color: #fff;   
                    }
                }
            }
            .productPopup__btn:hover{
                .productPopup__layer{
                    bottom: 0;
                }
            }
        }
    }
}